
.small-contianer{

    margin-top: 80px;
    min-width: 680px;
    display: flex;
}
.small-contianer .column2{
    padding: 20px;
}

.column1{
    width:380px;
    
}
 .main-img img {
     padding: 0;
     height: 310px;
     width:100%;
  
 }
 .small-img-row
 {
     display: flex;
     justify-content: space-between;
 }
 .col-1{
     flex-basis: 24%;
     width: 100%;

 }
 .col-1 img{
     width: 100%;
 }

.column2{
    display: block;
    margin: 0 20px;
   
}
.column2 select{
    margin-top: 20px;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border:none;
    border-radius: 5px;
    outline: none;
}
.column2 h3{
    margin-top:40px;
}
.price{
    margin-top:20px;
}
.column2 a{
    width:120px;
    padding: 8px;
    background: #18a;
    border:none;
    border-radius: 5px;
    outline: none;
    color: #fff;
    text-decoration: none;
    margin: 0 10px;

}
.column2 p{
    margin-top:10px;
}
.rate{
    margin-top:20px;
    color:#e9c215;
    font-size: 24px;
}
