@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    background: #dcdcdc;
}
.container{
    position: relative;
    width: 1200px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px,1fr));
    grid-gap:20px;
    padding:20px
}
.card{
    width: 100%;
    background: #fff;
}

.imgBox{
    position: relative;
    width: 100%;
    overflow: hidden;
} 
img{
    width: 100%;
    height: 180px;
    transition: .5s ease-in-out;
}
img:hover{
    transform: scale(90%);
}
.content{
    padding: 10px;
}
.productName{
    font-size: 12px;
    font-weight: 500;
    margin: 5px 0;
    color: #000;
}
.price_rating{
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.price_rating h3{
    font-size: 18px;
    color: #f51616;
}
.price_rating .fa{
    color: rgb(19, 22, 2)
}
.actions{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
}
.add-to-cart{
    width: 80px;
    padding: 5px;
    border-radius: 2px;
    background: rgba(125, 85, 235, 0.61);
    color: #fff;
}
.add-to-cart .fa {
    width:100%;
    height: auto;
    font-size:20px;
    text-align: center;
    cursor: pointer;
    transition:2s ease-in-out;
}
.add-to-cart:hover{
    transform: scale(70%);
}