@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}
body{
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    background: #dcdcdc;
}
.container{
    position: relative;
    width: 1200px;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap:20px;
    padding:20px
}
.card{
    width: 100%;
    background: #fff;
}

.imgBox{
    position: relative;
    width: 100%;
    height: 310px;
    overflow: hidden;
} 
img{
    width: 100%;
    height: 250px;
    transition: .5s ease-in-out;
}
img:hover{
    transform: scale(90%);
}
.content{
    padding: 10px;
}
.productName{
    font-size: 14px;
    margin: 5px 0;
    color: #000;
}
.price_rating{
    display:flex;
    justify-content: space-between;
    align-items: center;

}
.price_rating h3{
    font-size: 18px;
    color: #f51616;
}
.price_rating .fa{
    color: rgba(255, 238, 4, 0.808)
}
