
   {% extends 'store/base.html' %}
    {% for product in products %}
        <div class="main">
        <div class="detail-card">
            <div class="image-box">
                <img src={{ product.image.url }} alt="" >

            </div>
            <div class="text-box">
                <div class="description">
                    <h3>{{product.item}}</h3>
                    <a href="{{ product.title }}"></a>]view</a>
                </div>
                <div class="price-rating">
                    <h4>${{ product.price}}</h4>
                    <div class="rate">
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star" aria-hidden="true"></i>
                        <i class="fa fa-star-o" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %} 
