{% extends "../base.html" %}
{% load static %}
{% block content %}
<div class="small-contianer">
      <div class="column1">
         <div class="main-img"> 
             <img src="{{product.image.url}}" alt="" width = 310px>
         </div>
          <div class="detailPage" >
                <div class="small-img-row">
                  <div class="col-1"></div>
     
              </div>
          </div>
      </div>
    
      <div class="column2">
          <h2 class = "price">{{product.price}}</h2>
          <select name="" id="">
              <option value="">select size</option>
              <option value="">XXL</option>
              <option value="">XL</option>
              <option value="">L</option>
              <option value="">M</option>
              <option value="">S</option>
          </select>
    
         <button class="btn btn-primary" id= "add-button" value = "{{product.id}}">Add to cart</button>

          <p>{{product.description}}
          <div class="rate">
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star" aria-hidden="true"></i>
              <i class="fa fa-star-o" aria-hidden="true"></i>
          </div>
      </div>
  </div>
  <script>

    $(document).on('click', '#add-button', function(e) {
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url:'{% url "cart:cart_add" %}',
            data:{
                productid:$('#add-button').val(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function(json){

            },
            error: function(xhr, errmsg, err){}
        });
    })

  </script>
{% endblock %}